<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h2 class="page-header">Vacancies</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <th>#</th>
                        <th>Category</th>
                        <th>City</th>
                        <th>Company</th>
                        <th>Title</th>
                        <th>Salary</th>
                        <th>Actions</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in vacancyList">
                            <td>{{ $index + 1 }}</td>
                            <td>{{ item.category }}</td>
                            <td>{{ item.city }}</td>
                            <td>{{ item.company }}</td>
                            <td>{{ item.title }}</td>
                            <td>{{ getSalaryTitle(item.salaryType) }}</td>
                            <td><a class="label label-danger" href="javascript:void(0)" ng-click="removeVacancy(item)">Delete</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h2 class="page-header">Subscriptions</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <th>#</th>
                    <th>Email</th>
                    <th>City</th>
                    <th>Categories</th>
                    <th>Salary</th>
                    <th>Actions</th>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in subscriptionsList">
                        <td>{{ $index + 1 }}</td>
                        <td>{{ item.email }}</td>
                        <td>{{ item.city }}</td>
                        <td>{{ item.categories ? item.categories.join(', ') : '' }}</td>
                        <td>{{ item.salaryRange.title }}</td>
                        <td>
                            <a class="label label-success"href="javascript:void(0)" ng-click="sendNotification(item)"><i class="fa fa-envelope-o" aria-hidden="true"></i>&nbspSend</a>
                            <a class="label label-danger" href="javascript:void(0)" ng-click="removeSubscription(item)">Delete</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>