<div class="centered-panel subscription-panel custom-form">
    <form ng-submit="submit()">
        <div class="form-group">
            <h2>
                Subscribe and receive vacancies to email
            </h2>
        </div>
        <div class="vertical-input-group">
            <div class="input-group" uib-dropdown auto-close="outsideClick">
                <span class="input-group-addon"><i class="fa fa-bars" aria-hidden="true"></i></span>
                <input type="text" class="form-control" readonly="readonly" ng-model="selectedCategories" required uib-dropdown-toggle placeholder="Select up to 3 categories">
                <ul class="dropdown-menu category-menu" uib-dropdown-menu>
                    <li ng-class="{ 'active' : model.categories.indexOf(category) >= 0 }" ng-click="toggleCategorySelected(category)" ng-repeat="category in categoryList">
                        {{ category }}
                    </li>
                </ul>
            </div>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                <select class="form-control" ng-model="model.city" ng-options="item for item in cityList" required>
                    <option value="" disabled>Select city</option>
                </select>
            </div>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-signal" aria-hidden="true"></i></span>
                <select class="form-control" ng-model="model.salaryRange" ng-options="item as item.title for item in salaryList" required>
                    <option value="" disabled>Salary</option>
                </select>
            </div>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                <input type="email" class="form-control" placeholder="Email" ng-model="model.email" required>
            </div>
        </div>
        <button class="btn btn-primary pull-left c-btn" type="submit">Subscribe</button>
    </form>
</div>