.thing-form {
  margin: 20px 0;
}

#banner {
  border-bottom: none;
  margin-top: -20px;
}

#banner h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.hero-unit {
  position: relative;
  padding: 30px 15px;
  color: #F5F5F5;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: #4393B9;
}

.navbar-text {
  margin-left: 15px;
}


.centered-panel{
  position: absolute;
  color: #fff;
  top: 111px;
  width: 420px;

  .subscription-panel{
    left: 148px;
  }

  .distribute-panel{

  }
  
  h2{
    font-weight: bold;
    font-size: 25px;
    font-family: sans-serif;
  }
}

.header-form-block{
  position: relative;
  height: 550px;

  .bg{
    background: url(/assets/images/clear_bg.png) 0px -14px;
    background-size: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
  }
  .left-side, .right-side{
    position: relative;
    width: 50%;
    min-width: 400px;
    float: left;
    height: 100%;
  }

  .right-side{
    background: rgba(196, 44, 13, 0.47);
  }

  .left-side{
    background: rgba(26, 121, 186, 0.7);
  }
}

@media (min-width: 1329px){
  .main-container {
    width: 1329px;
  }
}
