<div class="container main-container">
    <div class="header-form-block">
        <div class="bg"></div>
        <div class="left-side">
            <subscription-form></subscription-form>
        </div>
        <div class="right-side">
            <distribute-form></distribute-form>
        </div>
    </div>
</div>


